body {
    font-family: Arial, sans-serif;
    background-image: url("mainbg.jpg");
    background-color: #333;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white; /* Set text color to white */
}

#app {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-image: url("2ndbg.jpg");
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    margin-top: 50px;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

h3, h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
